<div class="wrapper">
  <header>
    <mat-toolbar color="primary">
      <h1>
        <a class="title no-decor" routerLink="/">Elixir Masterminds</a>
      </h1>
      <!-- This fills the remaining space of the current row -->
      <span class="fill-space"></span>
      <button mat-button *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
        Log in
      </button>
      <button mat-button *ngIf="auth.isAuthenticated() && auth.userHasScopes(['write:messages'])" routerLink="/admin">
        Admin Area
      </button>
      <button mat-button *ngIf="auth.isAuthenticated()" routerLink="/leaderboard">
        Leaderboard
      </button>
      <button mat-button *ngIf="auth.isAuthenticated()" routerLink="/profile">
        Profile
      </button>
      <button mat-button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
        Log Out
      </button>
    </mat-toolbar>
    <br>
    <app-daily-tip></app-daily-tip>
  </header>
  <article>
    <div style="text-align:center">
      <router-outlet></router-outlet>
    </div>
  </article>
  <aside>
    <h2>Side Menu</h2>
  </aside>
  <footer>
    <h3>Footer</h3>
  </footer>
</div>
