<div class="panel-heading">
  <h3>Profile</h3>
</div>

<mat-card class="profile-card">
  <mat-card-header>
    <img mat-card-avatar src="{{profile?.picture}}">
    <mat-card-title>
      <p class="nickname">Name: {{ profile?.nickname }}</p>
    </mat-card-title>
    <mat-card-subtitle>

    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <p>Editable profile info coming soon</p>

  </mat-card-content>
  <mat-card-footer>
    <p>stay tuned...</p>
  </mat-card-footer>

</mat-card>
