/* font-family: 'Tajawal', sans-serif;
font-family: 'Indie Flower', cursive; */

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  min-height: 100%;
  font-size: 16px;
}

p {
  font-family: 'Tajawal', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Indie Flower';
}

/*Use CSS Grid for layout*/

header {
  grid-area: header;
}

article {
  grid-area: content;
  padding: 20px;
}

aside {
  grid-area: sidebar;
  background-color: lightgoldenrodyellow;
  border: 2px solid #ccc;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  padding: 20px;
  grid-area: footer;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #C2185B;
  color: white;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "header  header""sidebar content""footer  footer";
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 4fr;
    grid-template-areas: "header""content""sidebar""footer";
  }
}
